*.o
.DS_Store
.*.swp
/env
/dl
/.config
/.config.old
/bin

!/build_dir/
/build_dir/*
# !/build_dir/target-arm_cortex-a7+neon-vfpv4_musl_eabi/
# /build_dir/target-arm_cortex-a7+neon-vfpv4_musl_eabi/*
# !/build_dir/target-arm_cortex-a7+neon-vfpv4_musl_eabi/u-boot-imx6ull-ebf6ull-nand/

/staging_dir
/tmp
/logs
/feeds
/feeds.conf
/files
/overlay
/package/feeds
/package/openwrt-packages
/*.patch
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
